[submodule "mocks/gateway-addon"]
	path = mocks/gateway-addon
	url = https://github.com/mozilla-iot/gateway-addon-node.git
[submodule "zigbee2mqtt"]
	path = zigbee2mqtt
	url = https://github.com/Koenkk/zigbee2mqtt
